    <h2>Cadastro</h2>
<div class="row">
  <form [formGroup]="cadastroForm" (ngSubmit)="cadastrar()">
    <div class="row">
        <div class="form-group">
          <div class="input-field col s6">
              <label for="nome">Nome</label>
              <input formControlName="nome" required class="validate" name="Nome" id="nome" type="text">
          </div>
        </div>

        <div class="form-group">
          <div class="input-field col s6">
            <input required formControlName="dataNascimento" class="validate" id="dataNascimento" type="date">
            <label for="dataNascimento">Data Nascimento</label>
          </div>
        </div>
    </div>

    <div class="row">
      <div class="form-group">
        <div class="input-field col s6">
          <input required formControlName="email" class="validate" id="email" type="email">
          <label for="email">Email</label>
        </div>
      </div>

      <div class="form-group">
        <div class="col s6">
          <label for="plano">Plano de Saúde: </label>
          <select required class="form-control" formControlName="planoSaude">
            <option value=1>Platina</option>
            <option value=2>Ouro</option>
            <option value=3>Bronze</option>
          </select>
        </div>
      </div>

    </div>
    <button type="submit">Salvar</button>
    
    
  </form>
</div>