<nav>
    <div class="nav-wrapper">
        <a href="" class="brand-logo">Hospital da PD Case   </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a routerLink="/cadastro"> Cadastro </a></li>
        <li><a routerLink="/plano"> Lista procedimento </a></li>
        <li><a routerLink="/lista-beneficiarios"> Lista pacientes </a></li>
        
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>
