<h2>Lista</h2>

<table>
        <thead>
           <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Tipo de plano</th>
                <th>Excluir</th>
           </tr>
        </thead>
        <tbody>   
         <tr *ngFor="let pessoa of listaBeneficiarios">
            <td>{{ pessoa.nome }}</td>
            <td>{{ pessoa.email }}</td>
            <td>{{ pessoa.nomePlanoSaude }}</td>
            <td><button (click)="excluir(pessoa)" title="Excluir" class="btn-floating btn-small waves-effect waves-light red"><i class="material-icons left"></i>x</button></td>
         </tr>
        </tbody>
</table>

