<h2> Consulta </h2>
<div class="row">
        <div class="form-group">
            <div class="col s6">
                <label for="plano">Paciente: </label>   
                <select class="form-control" (change)="variavelIdPessoa($event.target.value)">
                    <option value="">-- Selecione --</option> 
                    <option *ngFor="let pessoa of listaPessoas" value="{{ pessoa.id }}"  > {{pessoa.nome}} </option>
                </select>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col s6">
                <label for="plano">Procedimento: </label>
                <select class="form-control" (change)="variavelIdProcedimento($event.target.value)">
                    <option value="">-- Selecione --</option>    
                    <option *ngFor="let procedimento of listaProcedimentos" value="{{ procedimento.id }}" > {{procedimento.nome}} </option>
                </select>
            </div>
        </div>
    </div>
        <button class="btn waves-effect waves-light" (click)="verificarProcedimento()" >Verificar  <i class="material-icons right"></i></button>
        

